/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: #eeeeee;
  --primary-color-light: #ffffff;
  --primary-color-dark: #bcbcbc;
  --secondary-color: #2196f3;
  --secondary-color-light: #6ec6ff;
  --secondary-color-dark: #0069c0;
  --border-radius-value: 1rem;
  --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  /* Look, it's not fixed anymore! */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  height: 40rem;
  width: 40rem;
  border-radius: var(--border-radius-value);
  border: 1px solid var(--primary-color-dark);
}

.container.modal-active {
  overflow: hidden;
  -webkit-filter: blur(2px) grayscale(50%);
}

.container .leader-board {
  height: 30%;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-value);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .leader-board .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 4rem;
  width: 100%;
  height: auto;
}

.container .leader-board .score .player-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.container .leader-board .score .player-container .player-name {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color-light);
}

.container .leader-board .score .player-container .score-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 2rem;
  color: var(--secondary-color);
  font-size: 1.5rem;
  border: 1px solid var(--primary-color-dark);
}

.container .leader-board .restart-btn {
  width: 20rem;
  height: 3rem;
  color: var(--primary-color-light);
  background-color: var(--secondary-color);
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
}

.container .leader-board .restart-btn:hover {
  background-color: var(--secondary-color-dark);
  cursor: pointer;
}

.container .main-content {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--border-radius-value);
  background-color: var(--primary-color);
}

.container .main-content .game-board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6rem)[3];
      grid-template-columns: repeat(3, 6rem);
  -ms-grid-rows: (6rem)[3];
      grid-template-rows: repeat(3, 6rem);
  gap: 0.3rem;
  background-color: var(--primary-color-dark);
}

.container .main-content .game-board .cell {
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  font-weight: 600;
  color: var(--secondary-color);
  cursor: pointer;
}

.container .main-content .game-board .cell:hover {
  background-color: var(--primary-color-light);
}

/* The Modal (background) */
#modal {
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Modal Content */
}

#modal .modal-content {
  background-color: transparent;
  margin: auto;
  padding: 0.5rem;
  width: auto;
  max-width: 70%;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
  color: var(--secondary-color);
}

#modal.modal-appear {
  -webkit-transform: scaleY(0.01) scaleX(0);
          transform: scaleY(0.01) scaleX(0);
  -webkit-animation: unfoldIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal.modal-appear .modal-content {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal.out {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal.out .modal-content {
  -webkit-animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.game-over {
  color: var(--secondary-color-dark);
}

.spot-appear {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: appear;
          animation-name: appear;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=styles.css.map */